$colors: (
    /* DEFAULT */
    default: #ffffff,
    
    /* COLOR */
    primary: #444ce0,
    
	/* RARE */
    rare: #303133,
    rare-primary: red,
);


@include each-property($colors, color, 'color'); 

@include each-property($colors, background-color, 'bg'); 



